vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Nov 2015 00:47:23 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|prancha/cat-prancha.html prancha/simb-plano.html home.html usar-prancha.html simb-usuario.html builder.html usar-plano.html log/log.html observacoes/visualizar-obs.html observacoes/criar-obs.html prancha/escolher-plano.html compartilhar/filtro.html compartilhar/pranchas.html index.html convites/enviar-convite.html convites/mostrar-convite.html prancha/simbolos.html prancha/cat-plano.html cat-usuario.html prancha/cad-simbolo.html criar-usuario.html convites/acc-convite.html prancha/categorias.html prancha/simb-prancha.html prancha/prancha.html compartilhar/planos.html
vti_author:SR|VAIO\\Usuario
vti_modifiedby:SR|VAIO\\Usuario
vti_timecreated:TR|03 Sep 2015 00:34:38 -0000
vti_nexttolasttimemodified:TW|15 Nov 2015 00:47:16 -0000
vti_cacheddtm:TX|15 Nov 2015 00:47:23 -0000
vti_filesize:IR|1323
vti_cachedlinkinfo:VX|S|http://i.stack.imgur.com/FhHRx.gif
vti_cachedsvcrellinks:VX|NSHS|http://i.stack.imgur.com/FhHRx.gif
